
.header-topo-container{
    display: flex;
    height: 46px;
    padding: 9px 0px 3px 0px; 
    justify-content: space-between; 
    width: 100vw;
    align-items: center;
    background-color: #252B42;
    margin-right: 0;
    
}


.content-header{
    display: flex;
    padding: 10px;
    align-items: flex-start;
    margin-right: 0;    
}
.content-header :last-child{
    margin-right: 0;
}

ul{
    display: flex;
}

ul li{
    display: flex;
}

ul li img{
    padding: 4px;
}

.btn-s20 {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 5px;
}

h6 {    
    color: var(--light-text-color, #FFF);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}





