
.header-topo{
    margin-bottom: 4px;
}

.header-topo-container{
    display: flex;
    height: 46px;
    padding: 9px 0px 3px 0px; 
    justify-content: space-between; 
    width: 100%;
    align-items: center;
    background-color: #252B42;
    margin-right: 10px;
    min-height: 10px;
}

.header-topo-container h6 {
    text-align: center;
}

.header-topo-container ul li {
    justify-content: center;
}

.content-header{    
    display: flex;
    padding: 10px;
    align-items: flex-start;
    margin-right: 0;    
}

ul li img{
    padding: 4px;
}

.btn-s20 {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

h6 {    
    color: var(--light-text-color, #FFF);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    align-items: center;
}





